* {
  box-sizing: border-box;
}
* textarea {
  resize: none;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background: #ccc;
}
[v-cloak] {
  display: none!important;
}
.panel {
  border-radius: 15px;
  box-shadow: 0 0 1px 1px #ccc;
  border: none;
}
.panel .panel-heading {
  background: #a8ebf8;
  border-radius: 15px 15px 0 0;
  color: #fff;
  text-shadow: 1px 1px #ccc;
  font-weight: bold;
}
header .navbar {
  background: #a8ebf8;
}
header .navbar .navbar-brand {
  color: #fff;
  text-shadow: 2px 2px #ddd;
  font-size: 24px;
  font-family: "微软雅黑";
}
header .navbar .navbar-right {
  line-height: 50px;
  font-size: 20px;
  text-shadow: 1px 1px #ccc;
  color: #fff;
}
@media (max-width: 767px) {
  header .navbar .navbar-right {
    position: absolute;
    top: 0;
    right: 10px;
  }
}
footer {
  border-top: 1px solid #ccc;
  background: #a8ebf8;
}
footer p {
  font-size: 16px;
  padding: 20px 0;
  margin: 0;
}
#main {
  height: 830px;
}
#main .chatWindow {
  height: 550px;
}
#main .chatWindow .message {
  display: flex;
  position: relative;
  padding: 5px;
  margin: 30px 0;
  flex-direction: row;
}
#main .chatWindow .message.myMessage {
  flex-direction: row-reverse;
}
#main .chatWindow .message.myMessage .messageText {
  background: #48ceff;
}
#main .chatWindow .message.myMessage .messageUserName {
  text-align: right;
}
#main .chatWindow .message .messageUserLogo img {
  display: block;
  width: 60px;
  height: 60px;
}
#main .chatWindow .message .messageText {
  padding: 10px 5px;
  border-radius: 15px;
  margin: 0 10px;
}
#main .chatWindow .message .messageText .emoji {
  max-width: 50px;
  max-height: 50px;
}
#main .chatWindow .message .messageUserName {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  padding: 3px 20px;
  font-size: 16px;
}
#main .chatWindow .message.console .messageUserLogo,
#main .chatWindow .message.console .messageUserName {
  display: none;
}
#main .chatWindow .message.console .messageText {
  background: #4b3182;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
#main .chatWindow .panel-body {
  border-radius: 0 0 15px 15px;
  height: 500px;
}
#main .chatWindow .panel-body .wrap {
  height: auto;
}
#main .inputWindow {
  margin-top: 20px;
  padding: 20px 20px 50px 20px;
}
#main .inputWindow .toolbar {
  height: 30px;
  margin-bottom: 5px;
  position: relative;
}
#main .inputWindow .toolbar .btn {
  line-height: 30px;
  border: 0px;
  padding: 0 12px;
  height: 30px;
  background: #ccc;
  border-radius: 0;
  color: #222;
}
#main .inputWindow .toolbar .toolSubContent {
  min-height: 80px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 35px;
  background: #fff;
  box-shadow: 0 0 5px 1px #ccc;
  padding: 20px 5px;
}
#main .inputWindow .toolbar .emojiList .tab-content {
  padding: 10px 0;
  border: 1px solid #ddd;
  border-top: none;
}
#main .inputWindow .toolbar .emojiList .col-custom {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px 15px;
}
#main .inputWindow .toolbar .emojiList .img-responsive {
  width: 40px;
  height: 40px;
}
#main .inputWindow textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
}
#main .onlineUserList {
  height: 780px;
}
#loginPage {
  background: #ccc;
}
#loginPage .wrap {
  overflow: hidden;
  margin: 100px auto;
  background: #fff;
  width: 1000px;
  height: 600px;
}
#loginPage .wrap h2 {
  text-indent: 40px;
}
#loginPage .wrap form {
  margin: 100px 0;
}
#loginPage .wrap .form-group {
  margin: 30px 0;
}
#loginPage .wrap img {
  width: 100%;
}
#loginPage .wrap .col-md-6:nth-child(2) {
  padding: 0;
}
